<h1>Edit an Existing Picture</h1>


<%= form_tag("http://localhost:3000/update_picture/#{@picture.id}", :method => "patch") do %>
  <div>
    <%= label_tag :caption, "Caption:" %>
    <%= text_field_tag :caption, @picture.caption %>
  </div>
  <div>
    <%= label_tag :source, "Image URL:" %>
    <%= text_field_tag :source, @picture.source  %>
  </div>
  <div>
    <input type="submit" value="Edit Picture">
  </div>
<% end %>



